
__pycache__/
*.pyc
*.pyo

.idea/
.vscode/

.DS_Store

.env

gpt-refactor-analysis/gptenv/
!gpt-refactor-analysis/gptenv/**/.gitkeep

Llama2/

llama3/

llama/llama/*
!llama/llama/**/.gitkeep

llama/llama-2-7b-chat/*
!llama/llama-2-7b-chat/**/.gitkeep

llama/llama-2-7b/*
!llama/llama-2-7b/**/.gitkeep

llama/llama.egg-info/*
!llama/llama.egg-info/**/.gitkeep