
__pycache__/
*.pyc
*.pyo

.idea/
.vscode/

.DS_Store

PyRef/gptenv/*
!PyRef/gptenv/**/.gitkeep

PyRef/Repos/*
!PyRef/Repos/**/.gitkeep

Llama2/

llama3/

llama/llama/*
!llama/llama/**/.gitkeep

llama/llama-2-7b-chat/*
!llama/llama-2-7b-chat/**/.gitkeep

llama/llama.egg-info/*
!llama/llama.egg-info/**/.gitkeep